$primary: #7551ff;
$secondary: #f97912;
$border: rgba(255, 255, 255, 0.12);
$sidebar: #141515;
$bg: #0e0f0f;
$red: #f44336;
$yellow: #ce9e10;
$red-05: rgba(244, 67, 54, 0.7);
$yellow-05: rgba(206, 158, 16, 0.7);
