@import '@/constants/colors';
.tag {
	display: inline-flex;
	font-size: 10pt;
	padding: 0.3rem 0.5rem;
	background: $border;
	border-radius: 1rem;
	transition: all 0.3s ease-in-out;
	border: 0.1rem solid $border;
	&:before {
		content: '#';
	}
	&:hover {
		transition: all 0.3s ease-in-out;
		background: darken($border, 30%);
	}
	&Container {
		position: relative;
	}
}
.selectedTag {
	background: darken($border, 30%);
	transition: all 0.3s ease-in-out;
	border: 0.1rem solid $primary;
}
.tags {
	display: inline-flex;
	overflow-x: hidden;
	white-space: nowrap;
	width: 100%;
	position: relative;
	align-items: center;
	> div {
		&:first-child {
			margin-left: 0;
		}
		@apply ml-1.5;
	}
	//padding: 0 0.5rem;
}

.add {
	display: inline-flex;
	align-items: center;
	position: relative;
	width: 100%;
	&[data-view='list'] {
		justify-content: flex-end;
	}
	&[data-view='kanban'] {
		margin-top: 1rem;
	}
	> button {
		> svg {
			&:hover {
				color: $primary;
			}
		}
	}
}
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.input {
	font-size: 10pt;
	box-shadow: $primary 0 0 0.2rem;
	width: 95%;
	border-radius: 1rem;
	padding: 0.2rem 1rem;
}
.select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	&Container {
		max-height: 8rem;
		overflow-y: auto;
	}
}
