@import '../../../constants/colors';
.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1rem;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;
	z-index: 99;
	&Item {
		background: $red-05;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		> svg {
			scale: 0.7;
		}
	}
}
