@import '../../../../constants/colors';
.table {
	@apply w-full;

	.header {
		@apply grid grid-cols-[.6fr_.9fr_.3fr_.6fr_.1fr];
	}

	.header,
	.parentsWrapper .row,
	.parentsWrapper .colHeading {
		@apply rounded border-t border-border text-left w-auto whitespace-nowrap;

		> div {
			@apply border-r border-border py-2 px-4;

			&:last-child {
				@apply border-0;
			}
		}
	}

	.parentsWrapper {
		.colHeading {
			@apply hover:bg-transparent;
			background-color: $bg;

			> div {
				@apply font-semibold text-xl py-3;
			}
		}

		.addRow {
			@apply py-2 px-4 border-t border-border;
		}

		.row {
			@apply font-normal grid grid-cols-[.6fr_.9fr_.3fr_.6fr_.1fr] relative;
			background-color: $bg;

			&.completed {
				> div > span > input {
					@apply italic line-through opacity-50;
				}
			}

			&:hover {
				@apply bg-[#1c1f1f];
			}

			> div > span {
				.grip {
					cursor: move;
					@apply opacity-20 transition-opacity -ml-3 -mr-1;

					&:hover,
					&:active {
						@apply opacity-100;
					}
				}
			}
		}
	}
}
.grip_btn_parent_list {
	cursor: move;
	&:active,
	&:hover {
		.grip_btn_list {
			@apply opacity-100;
		}
	}
}
.grip_btn_list {
	@apply opacity-20 transition-opacity;
}
.tags_container {
	display: grid;
	width: 100%;
	grid-template-columns: minmax(30%, auto) auto;
	gap: 0.3rem;
}
